#sobre {
    padding: {
        bottom: 80px;
        top: 80px;
    };
    background: url('/images/bg-tcopy.png') $white 97% 110% no-repeat;

    .wrap  {
        width: 100%;
    }

    .image {
        position: relative;

        &::before {
            border: solid 1px $blackTwo;
            position: absolute;
            height: 100%;
            content: "";
            width: 100%;
            left: -26px;
            top: -24px;
        }

        img {
            position: relative;
            z-index: 10;
        }
    }

    .text {
        .titulo {
            letter-spacing: 4px;
            margin-bottom: 50px;
            font-weight: 300;
            font-size: 30px;
        }

        p {
            margin-bottom: 30px;
            line-height: 24px;
            font-weight: 300;
            font-size: 16px;
            color: $blueTwo;
        }
    }

    @include media-breakpoint-up(md) {
        .wrap {
            display: flex;
            align-items: center;
        }

        .image {
        }

        .text {
            padding-left: 60px;
        }
    }

    @include media-breakpoint-down(md) {

        .image {
            max-width: 314px;
            margin: 0 auto 50px;
        }

        .text {
            .titulo {
                margin-bottom: 30px;
            }

            p {
                margin-bottom: 20px;
            }
        }
    }
}