// typografia
$corDeTexto: $blackTwo;

body {
  font-size: 16px;
  color: $corDeTexto;
  font-family: "Open Sans";
}

// images
figure {
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

// link
.navbar-nav {
  a {
    color: $blackTwo;
  
    &:hover {
      color: rgb(2,43,63);
      text-decoration: underline;
    }
  }
}

// lista
ul {
  list-style: none;
  padding: 0;
}